.main-container {
  margin: 200px auto 0px auto;
  width: 1323px;
  height: 73.5%;
  display: flex;
  flex-direction: row;
}

#blue-container {
  background-color: #252852;
  width: 33.33%;
  border-radius: 42px 0 0 42px;
  justify-content: center;
}

#white-container {
  background-color: #ffffff;
  width: 66.66%;
  border-radius: 0 42px 42px 0;
  justify-content: center;
}
