.register-container {
  margin: 200px auto 0px auto;
  width: 1323px;
  height: 73.5%;
  display: flex;
  flex-direction: row;
}

#blue-container-register {
  background-color: #252852;
  width: 13.62%;
  border-radius: 42px 0 0 42px;
  justify-content: center;
}

#white-container-register {
  background-color: #ffffff;
  width: 86.38%;
  border-radius: 0 42px 42px 0;
  justify-content: center;
}
