#Register-header {
  font-family: 'EncondeSansExpanded-SemiBold';
  font-size: 46px;
  width: 384px;
  margin: auto;
}

.mainContainer{

  font-family: 'EncondeSansExpanded-SemiBold';
  margin: 0px 5% 0px 5%;
  width: 90%;
  height: auto;
  align-items: center;
  justify-content: center;

}

.topContainer{

  font-size: 48px;
  color: #222852;
  height: 15%;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.formContainer{

  width: 100%;
  height: 50%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding-top: 10px;

}

.formLine{

  display: flex;
  margin-bottom: 15px;

}

.buttonStyle{

  width: 20%;
  height: 50px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-top: 40px;
}