.button-group {
  flex-direction: column;
  display: flex;
  margin: auto;
}
#buttons-from-group {
  margin: 20px auto 0px auto;
  width: 170px;
  height: 60px;
  border-radius: 40px;
  font-size: 25px;
}
