/* TODO: atualizar estilo para valores percentuais */

.pokemon-card-container {
  height: 120px;
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 0 auto 0;
}

#pokemon-card-header {
  font-size: 18px;
  margin-bottom: 0px;
  width: fit-content;
}

.pokemon-card-png-container {
  height: 120px;
  width: 120px;
  border-radius: 12px;
  border: 3px;
  border-style: solid;
}

#pokemon-card-png {
  height: 100%;
  width: 100%;
  border: none;
}

#pokemon-card-divbar {
  background-color: black;
  width: 380px;
  height: 3px;
}

.pokemon-card-info-text {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: left;
  width: fit-content;
}

#pokemon-card-content {
  display: flex;
  flex-direction: column;
}

#pokemon-card-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pokemon-card-info-list {
  display: flex;
  flex-direction: column;
}

.pokemon-card-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#pokemon-card-buttons {
  font-size: 15px;
  height: 35px;
  width: 120px;
}

#pokemon-card-buttons-bio {
  font-size: 10px;
  height: 35px;
  width: 120px;
}

.carrosel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

.carrosel-arrows {
  font-family: 'EncondeSansExpanded-ExtraBold';
  font-size: 40px;
  height: fit-content;
  margin: auto 30px auto 30px;
  cursor: pointer;
  transition: 0.2s;
}

.carrosel-arrows:hover {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 15px;
}

#pokemon-card-info-type-text {
  margin-right: 6px;
}

#pokemon-types-image-row {
  display: flex;
  flex-direction: row;
}

#pokemon-type-images {
  height: 30px;
  width: 30px;
  margin-right: 6px;
}

#carrosel-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}

/*=====================================================================================================================================*/

.infoContainer {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  font-size: 14px;
}

.infoText {
  text-align: left;
  width: 60%;
  height: 10%;
}

.underBar {
  width: 60%;
  border: 3px solid #727376;
}
