/* TODO: atualizar estilo para valores percentuais */

.pokemon-card-container {
  height: 120px;
  width: 500px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#pokemon-card-header {
  font-size: 18px;
  margin-bottom: 0px;
  width: fit-content;
}

#pokemon-card-png {
  height: 120px;
  width: 120px;
  border-radius: 12px;
  border: 3px;
  border-style: solid;
}

#pokemon-card-divbar {
  background-color: black;
  width: 380px;
  height: 5px;
}

.pokemon-card-info-text {
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  justify-content: left;
  width: fit-content;
}

#pokemon-card-content {
  display: flex;
  flex-direction: column;
}

#pokemon-card-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pokemon-card-info-list {
  display: flex;
  flex-direction: column;
}

.pokemon-card-buttons-container {
  display: flex;
  flex-direction: column;
}

#pokemon-card-button-select {
  font-size: 15px;
  height: 32px;
  width: 120px;
}

#pokemon-card-button-adopt {
  font-size: 15px;
  height: 32px;
  width: 120px;
}

#pokemon-card-button-bio {
  font-size: 10px;
  height: 32px;
  width: 120px;
}

.carrosel-container {
  display: flex;
  flex-direction: row;
}

.carrosel-arrows {
  font-family: 'EncondeSansExpanded-ExtraBold';
  font-size: 40px;
  height: fit-content;
  margin: auto;
}
